@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/animations';

// Styling for the download section
section.examples {
    position: relative;
    background: linear-gradient(#fff,#f2f2f2);
    h2 {
        font-size: 50px;
        margin-top: 0;
    }
    p{
        font-size: 16px;
        margin-bottom: 30px;
    }
    .badges {
        padding: 20px 0;
        position: relative;
        display: block;
        background-position: center;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        border-radius: 50%;
        background-image: url('../../../assets/img/novios/ellos.jpg');
        
        i {
            font-size: 80px;
            animation: pulse 2s infinite;
            color: $theme-secondary;
            opacity: 0.7;
            position: relative;
            left: 10px;
        }

        a {
            color: $gray-lighter;
            background: $theme-secondary;
        }

        a:hover {
            color: $gray-darker;
            border: 1px solid $gray-darker;
            background: transparent;
        }

        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 300px;
                width: 300px;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }

        @media(max-width: 768px) {
            img {
                margin-bottom: 20px;
            }

            i {
                right: 110px;
            }
        }
    }
    @media(max-width: 992px) {
        .badges { 
            img {
                width: 250px;
                height: 250px;
            }

            i {
                top: -10px;
            }
        }
    }

    @media(max-width: 390px) {
        .badges { 
            img {
                width: 250px;
                height: 250px;
            }
        }
    }

    @media(min-width: 768px) {
        h2 {
            font-size: 70px;
        }
    }
}
