ul {
    margin: 0;
    padding: 0;

    .item-result {
        background-color: #222;
        color: #efefef;
        list-style: none;
        padding: 5px 10px;
    }
}

ul li {
    background-color: #222;
    color: #efefef;
    list-style: none;
    padding: 5px 10px;
}