@import '../../../assets/scss/variables';

.countdown-container{
    h3 {
        text-align: center;
        text-transform: uppercase;
    }
}

::ng-deep {
    .countdown {
    margin-top: 20px;
    width: 100%;

    .measurements {
        color: white;
        margin-right: 5px;
        text-align: center;
        padding: 20px 0;
        background: $theme-secondary;
        border-radius: 5px;
    }

    .measurements-number {
        font-size: 30px;
    }

    .divider {
        font-size: 30px;
    }

    p {
        margin: 0;
    }
}
}