<section class="contact bg-primary" id="redes">
    <div class="container">
      <h2>{{ inicialesNovios }}
        <i class="fas fa-heart"></i>
        </h2>
      <p>Tenés tiempo de confirmar asistencia hasta el 2 de diciembre </p>
      <p>Confirmá por WhatsApp</p>

      <div class="row">
        <div class="col">
          <h2>{{ nombreNovio }}  <i class="fab fa-whatsapp"></i> {{ telefonoNovio }}</h2></div>
        <div class="col"><h2>{{ nombreNovia }} <i class="fab fa-whatsapp"></i> {{ telefonoNovia }}</h2></div>
      </div>
    </div>
  </section>